body[data-theme-"light"] {
/* Start - Semantic colors/Light*/
--color-text-primary: var(--color-purple-1000);
--color-text-primary-inverse: var(--color-neutral-0);
--color-text-secondary: var(--color-neutral-800);
--color-text-tertiary: var(--color-neutral-700);
--color-text-tertiary-on-bg: var(--color-neutral-300);
--color-text-placeholder: var(--color-neutral-600);
--color-text-disabled: var(--color-neutral-400);
--color-text-brand: var(--color-orange-500);
--color-text-positive: var(--color-green-600);
--color-text-warning: var(--color-yellow-700);
--color-text-danger: var(--color-red-600);
--color-text-always-light: var(--color-neutral-0);
--color-text-always-dark: var(--color-purple-1000);
--color-text-utility-mercury: var(--color-neutral-700);
--color-text-utility-earth: var(--color-teal-700);
--color-text-utility-pluto: var(--color-purple-700);
--color-text-utility-neptune: var(--color-blue-600);
--color-text-utility-uranus: var(--color-cyan-600);
--color-text-utility-saturn: var(--color-yellow-600);
--color-text-utility-jupiter: var(--color-tangerine-500);
--color-text-utility-mars: var(--color-red-600);
--color-text-utility-haumea: var(--color-green-600);
--color-text-link-default: var(--color-blue-600);
--color-text-utility-venus: var(--color-ruby-500);
--color-text-utility-makemake: var(--color-fuchsia-500);
--color-text-link-hover: var(--color-blue-700);
--color-text-utility-ceres: var(--color-olive-600);
--color-text-utility-eris: var(--color-cobalt-800);
--color-background-default-primary: var(--color-neutral-0);
--color-background-default-primary-level-2: var(--color-neutral-0);
--color-background-default-primary-active: var(--color-neutral-20);
--color-background-default-primary-inverse: var(--color-neutral-dark-20);
--color-border-default-primary: var(--color-neutral-200);
--color-background-default-primary-inverse-active: var(--color-neutral-dark-40);
--color-border-default-secondary: var(--color-neutral-300);
--color-border-default-tertiary: var(--color-neutral-100);
--color-border-default-focused: var(--color-neutral-1000);
--color-border-brand-primary: var(--color-orange-500);
--color-border-default-disabled: var(--color-neutral-200);
--color-border-brand-secondary: var(--color-gold-100);
--color-border-brand-tertiary: var(--color-orange-300);
--color-border-positive-primary: var(--color-green-500);
--color-border-positive-secondary: var(--color-green-300);
--color-border-warning-primary: var(--color-yellow-500);
--color-border-warning-secondary: var(--color-yellow-300);
--color-border-danger-primary: var(--color-red-600);
--color-border-utility-mercury: var(--color-neutral-300);
--color-border-utility-earth: var(--color-teal-400);
--color-border-utility-pluto: var(--color-purple-300);
--color-border-utility-neptune: var(--color-blue-300);
--color-border-utility-uranus: var(--color-cyan-300);
--color-border-utility-saturn: var(--color-yellow-300);
--color-border-utility-jupiter: var(--color-tangerine-300);
--color-border-utility-mars: var(--color-red-300);
--color-border-utility-haumea: var(--color-green-300);
--color-border-utility-venus: var(--color-ruby-300);
--color-border-utility-makemake: var(--color-fuchsia-300);
--color-border-utility-ceres: var(--color-olive-300);
--color-border-utility-eris: var(--color-cobalt-300);
--color-border-danger-secondary: var(--color-red-300);
--color-border-default-subtract: var(--color-neutral-0);
--color-border-default-subtract-level-2: var(--color-neutral-0);
--color-background-default-secondary: var(--color-neutral-50);
--color-background-default-secondary-active: var(--color-neutral-100);
--color-background-default-disabled: var(--color-neutral-100);
--color-background-default-disabled-subtle: var(--color-neutral-50);
--color-background-brand-primary: var(--color-orange-500);
--color-background-brand-primary-active: var(--color-orange-600);
--color-background-brand-secondary: var(--color-gold-50);
--color-background-brand-secondary-level-2: var(--color-gold-50);
--color-background-brand-secondary-active: var(--color-gold-100);
--color-background-brand-tertiary: var(--color-orange-50);
--color-background-brand-tertiary-active: var(--color-orange-100);
--color-background-danger-primary: var(--color-red-600);
--color-background-positive-primary: var(--color-green-500);
--color-background-positive-primary-active: var(--color-green-600);
--color-background-positive-secondary: var(--color-green-100);
--color-background-positive-secondary-active: var(--color-green-200);
--color-background-positive-tertiary: var(--color-green-50);
--color-background-positive-tertiary-active: var(--color-green-100);
--color-background-danger-primary-active: var(--color-red-700);
--color-icon-primary: var(--color-purple-1000);
--color-icon-primary-inverse: var(--color-neutral-0);
--color-icon-secondary: var(--color-neutral-700);
--color-icon-secondary-hover: var(--color-neutral-800);
--color-icon-disabled: var(--color-neutral-400);
--color-icon-secondary-disabled: var(--color-neutral-100);
--color-icon-tertiary: var(--color-neutral-400);
--color-icon-brand: var(--color-orange-500);
--color-icon-danger: var(--color-red-600);
--color-icon-positive: var(--color-green-600);
--color-icon-warning: var(--color-yellow-600);
--color-icon-always-light: var(--color-neutral-0);
--color-icon-always-dark: var(--color-purple-1000);
--color-icon-on-color: var(--color-neutral-0);
--color-icon-link-default: var(--color-blue-600);
--color-icon-link-hover: var(--color-blue-700);
--color-icon-utility-mercury: var(--color-neutral-600);
--color-icon-utility-earth: var(--color-teal-600);
--color-icon-utility-pluto: var(--color-purple-700);
--color-icon-utility-neptune: var(--color-blue-600);
--color-icon-utility-uranus: var(--color-cyan-600);
--color-icon-utility-saturn: var(--color-yellow-500);
--color-icon-utility-jupiter: var(--color-tangerine-500);
--color-icon-utility-mars: var(--color-red-600);
--color-icon-utility-haumea: var(--color-green-600);
--color-effect-linear-default-solid: var(--color-alfa-light-1000);
--color-effect-linear-default-opacity: var(--color-alfa-light-0);
--color-background-default-overlay: var(--color-alfa-dark-300);
--color-background-default-always-light: var(--color-neutral-0);
--color-background-default-always-dark: var(--color-neutral-dark-60);
--color-background-danger-secondary: var(--color-red-100);
--color-background-danger-secondary-active: var(--color-red-200);
--color-background-danger-tertiary: var(--color-red-50);
--color-background-danger-tertiary-active: var(--color-red-100);
--color-background-warning-primary: var(--color-yellow-500);
--color-background-warning-primary-hover: var(--color-yellow-600);
--color-background-warning-secondary: var(--color-yellow-100);
--color-background-warning-secondary-active: var(--color-yellow-200);
--color-background-warning-tertiary: var(--color-yellow-50);
--color-background-warning-tertiary-active: var(--color-yellow-100);
--color-background-neutral-primary: var(--color-neutral-100);
--color-background-neutral-primary-active: var(--color-neutral-200);
--color-background-neutral-secondary: var(--color-neutral-200);
--color-background-neutral-secondary-active: var(--color-neutral-300);
--color-background-neutral-tertiary: var(--color-neutral-20);
--color-background-neutral-tertiaty-active: var(--color-neutral-100);
--color-background-utility-mercury-subtlest: var(--color-neutral-50);
--color-background-utility-mercury-subtle: var(--color-neutral-200);
--color-background-utility-mercury-moderate: var(--color-neutral-400);
--color-background-utility-earth-subtlest: var(--color-teal-100);
--color-background-utility-earth-subtle: var(--color-teal-200);
--color-background-utility-earth-moderate: var(--color-teal-400);
--color-background-utility-earth-bold: var(--color-teal-600);
--color-background-utility-pluto-subtlest: var(--color-purple-50);
--color-background-utility-pluto-subtle: var(--color-purple-100);
--color-background-utility-pluto-moderate: var(--color-purple-400);
--color-background-utility-pluto-bold: var(--color-purple-600);
--color-background-utility-neptune-subtlest: var(--color-blue-50);
--color-background-utility-uranus-subtlest: var(--color-cyan-50);
--color-background-utility-uranus-subtle: var(--color-cyan-100);
--color-background-utility-uranus-moderate: var(--color-cyan-400);
--color-background-utility-uranus-bold: var(--color-cyan-500);
--color-background-utility-neptune-subtle: var(--color-blue-100);
--color-background-utility-neptune-moderate: var(--color-blue-400);
--color-background-utility-neptune-bold: var(--color-blue-500);
--color-background-utility-saturn-subtlest: var(--color-yellow-50);
--color-background-utility-saturn-subtle: var(--color-yellow-100);
--color-background-utility-saturn-moderate: var(--color-yellow-500);
--color-background-utility-saturn-bold: var(--color-yellow-600);
--color-background-utility-jupiter-subtlest: var(--color-tangerine-50);
--color-background-utility-jupiter-subtle: var(--color-tangerine-100);
--color-background-utility-jupiter-moderate: var(--color-tangerine-300);
--color-background-utility-jupiter-bold: var(--color-tangerine-500);
--color-background-utility-mars-subtlest: var(--color-red-50);
--color-background-utility-mars-subtle: var(--color-red-100);
--color-background-utility-mars-moderate: var(--color-red-400);
--color-background-utility-mars-bold: var(--color-red-500);
--color-background-utility-haumea-subtlest: var(--color-green-50);
--color-background-utility-haumea-subtle: var(--color-green-100);
--color-background-utility-haumea-moderate: var(--color-green-400);
--color-background-utility-haumea-bold: var(--color-green-600);
--color-background-utility-venus-subtlest: var(--color-ruby-50);
--color-background-utility-venus-subtle: var(--color-ruby-100);
--color-background-utility-venus-moderate: var(--color-ruby-400);
--color-background-utility-venus-bold: var(--color-ruby-500);
--color-background-utility-makemake-subtlest: var(--color-fuchsia-50);
--color-background-utility-ceres-subtlest: var(--color-olive-50);
--color-background-utility-ceres-subtle: var(--color-olive-100);
--color-background-utility-ceres-moderate: var(--color-olive-200);
--color-background-utility-ceres-bold: var(--color-olive-300);
--color-background-utility-makemake-subtle: var(--color-fuchsia-100);
--color-background-utility-makemake-moderate: var(--color-fuchsia-400);
--color-background-utility-makemake-bold: var(--color-fuchsia-500);
--color-effect-shadow-subtlest: var(--color-alfa-dark-30);
--color-effect-shadow-subtle: var(--color-alfa-dark-60);
--color-effect-shadow-moderate: var(--color-alfa-dark-80);
--color-effect-shadow-bold: var(--color-alfa-dark-160);
--color-effect-focus-ring-active: var(--color-orange-50);
--color-effect-focus-ring-invalid: var(--color-red-50);
--color-effect-focus-ring-contrast: var(--color-orange-500);
--color-effect-focus-ring-subtract: var(--color-neutral-0);
--color-background-utility-mercury-bold: var(--color-neutral-500);
--color-icon-utility-venus: var(--color-ruby-600);
--color-icon-utility-makemake: var(--color-fuchsia-600);
--color-icon-utility-ceres: var(--color-olive-600);
--color-icon-utility-eris: var(--color-cobalt-700);
--color-background-utility-eris-subtlest: var(--color-cobalt-100);
--color-background-utility-eris-subtle: var(--color-cobalt-200);
--color-background-utility-eris-moderate: var(--color-cobalt-300);
--color-background-utility-eris-bold: var(--color-cobalt-400);
--color-border-default-always-dark: var(--color-neutral-dark-50);
--color-effect-opacity-subtlest: var(--color-alfa-light-0);
--color-effect-opacity-subtle: var(--color-alfa-light-100);
--color-effect-opacity-moderate: var(--color-alfa-light-300);
--color-effect-opacity-bold: var(--color-alfa-light-500);
--color-effect-linear-secondary-solid: var(--color-alfa-gold-1000);
--color-effect-linear-secondary-opacity: var(--color-alfa-gold-0);
--color-effect-linear-secondary-solid-always-light: var(--color-gold-100);
/* End - Semantic colors/Light*/
}