:root {
/* Start - _Primitives/Value*/
--color-neutral-0: #ffffffff;
--color-neutral-10: #fcfcfdff;
--color-neutral-20: #f8f9fbff;
--color-neutral-50: #f6f7f9ff;
--color-neutral-100: #eceef0ff;
--color-neutral-200: #dee2e8ff;
--color-neutral-300: #cad0d9ff;
--color-neutral-400: #b5bdcaff;
--color-neutral-500: #9ca7b8ff;
--color-neutral-600: #8b98acff;
--color-neutral-700: #76869dff;
--color-neutral-800: #5e6c83ff;
--color-neutral-900: #465162ff;
--color-neutral-1000: #313944ff;
--color-neutral-dark-0: #080809ff;
--color-neutral-dark-10: #121214ff;
--color-neutral-dark-20: #1b1b1dff;
--color-neutral-dark-30: #1f1f21ff;
--color-neutral-dark-40: #252526ff;
--color-neutral-dark-50: #2f2f31ff;
--color-neutral-dark-60: #38383aff;
--color-neutral-dark-70: #414143ff;
--color-neutral-dark-80: #474748ff;
--color-neutral-dark-90: #4b4b4cff;
--color-neutral-dark-100: #515152ff;
--color-neutral-dark-200: #59595aff;
--color-neutral-dark-300: #656566ff;
--color-neutral-dark-400: #6b6b6cff;
--color-neutral-dark-500: #737374ff;
--color-neutral-dark-600: #7b7b7cff;
--color-neutral-dark-700: #828283ff;
--color-neutral-dark-800: #89898aff;
--color-neutral-dark-900: #949494ff;
--color-neutral-dark-1000: #9e9e9eff;
--color-alfa-light-0: #ffffff00;
--color-alfa-light-30: #ffffff08;
--color-alfa-light-60: #ffffff0f;
--color-alfa-light-80: #ffffff14;
--color-alfa-light-100: #ffffff1a;
--color-alfa-light-160: #ffffff29;
--color-alfa-light-300: #ffffff4d;
--color-alfa-light-400: #ffffff66;
--color-alfa-light-500: #ffffff80;
--color-alfa-light-600: #ffffff99;
--color-alfa-light-700: #ffffffb2;
--color-alfa-light-800: #ffffffcc;
--color-alfa-light-900: #ffffffe5;
--color-alfa-light-1000: #ffffffff;
--color-alfa-dark-0: #09090b00;
--color-alfa-dark-30: #09090b08;
--color-alfa-dark-60: #09090b0f;
--color-alfa-dark-80: #09090b14;
--color-alfa-dark-100: #09090b1a;
--color-alfa-dark-160: #09090b29;
--color-alfa-dark-300: #09090b4d;
--color-alfa-dark-400: #09090b66;
--color-alfa-dark-500: #09090b80;
--color-alfa-dark-600: #09090b99;
--color-alfa-dark-700: #09090bb2;
--color-alfa-dark-800: #09090bcc;
--color-alfa-dark-900: #09090be5;
--color-alfa-dark-1000: #09090bff;
--color-alfa-gold-0: #f7f5f300;
--color-alfa-gold-30: #f7f5f308;
--color-alfa-gold-60: #f7f5f30f;
--color-alfa-gold-80: #f7f5f314;
--color-alfa-gold-100: #f7f5f31a;
--color-alfa-gold-160: #f7f5f329;
--color-alfa-gold-300: #f7f5f34d;
--color-alfa-gold-400: #f7f5f366;
--color-alfa-gold-500: #f7f5f380;
--color-alfa-gold-600: #f7f5f399;
--color-alfa-gold-700: #f7f5f3b2;
--color-alfa-gold-800: #f7f5f3cc;
--color-alfa-gold-900: #f7f5f3e5;
--color-alfa-gold-1000: #f7f5f3ff;
--color-gray-50: #fafafaff;
--color-gray-100: #f4f4f5ff;
--color-gray-200: #e4e4e7ff;
--color-gray-300: #d1d1d6ff;
--color-gray-400: #a0a0abff;
--color-gray-500: #70707bff;
--color-gray-600: #51525cff;
--color-gray-700: #3f3f46ff;
--color-gray-800: #26272bff;
--color-gray-900: #232327ff;
--color-gray-950: #18181bff;
--color-gray-1000: #141416ff;
--color-gold-50: #f7f5f3ff;
--color-gold-100: #eeebe7ff;
--color-gold-200: #dbd5ccff;
--color-gold-300: #c6bcaeff;
--color-gold-400: #ad9e8aff;
--color-gold-500: #85755eff;
--color-gold-600: #786954ff;
--color-gold-700: #695c4aff;
--color-gold-800: #54493bff;
--color-gold-900: #3f372cff;
--color-gold-950: #2a251eff;
--color-gold-1000: #242019ff;
--color-ruby-50: #fdf0f4ff;
--color-ruby-100: #ffe6efff;
--color-ruby-200: #f7c4d5ff;
--color-ruby-300: #f9a6c1ff;
--color-ruby-400: #eb7199ff;
--color-ruby-500: #ed477dff;
--color-ruby-600: #d93d70ff;
--color-ruby-700: #c33564ff;
--color-ruby-800: #ad2f58ff;
--color-ruby-900: #912d4dff;
--color-ruby-950: #6e2a43ff;
--color-ruby-1000: #432530ff;
--color-red-50: #fff5f5ff;
--color-red-100: #ffebebff;
--color-red-200: #ffccceff;
--color-red-300: #ffadb0ff;
--color-red-400: #ff8589ff;
--color-red-500: #fb5157ff;
--color-red-600: #f24145ff;
--color-red-700: #d13d44ff;
--color-red-800: #9e373bff;
--color-red-900: #782a2cff;
--color-red-950: #69282dff;
--color-red-1000: #4a2528ff;
--color-orange-50: #fff4f0ff;
--color-orange-100: #ffeae0ff;
--color-orange-200: #ffd1bdff;
--color-orange-300: #ffb494ff;
--color-orange-400: #ff8d5cff;
--color-orange-500: #ff4e00ff;
--color-orange-600: #e84600ff;
--color-orange-700: #dd4403ff;
--color-orange-800: #b13703ff;
--color-orange-900: #842d08ff;
--color-orange-950: #5f270fff;
--color-orange-1000: #522815ff;
--color-tangerine-50: #fff3e7ff;
--color-tangerine-100: #ffead4ff;
--color-tangerine-200: #ffd0a0ff;
--color-tangerine-300: #ffbf80ff;
--color-tangerine-400: #ff9f5fff;
--color-tangerine-500: #ff7214ff;
--color-tangerine-600: #fc6805ff;
--color-tangerine-700: #f16101ff;
--color-tangerine-800: #c4560cff;
--color-tangerine-900: #9c441fff;
--color-tangerine-950: #663620ff;
--color-tangerine-1000: #47291cff;
--color-yellow-50: #fffaf0ff;
--color-yellow-100: #fff5e0ff;
--color-yellow-200: #ffebc2ff;
--color-yellow-300: #ffdf9eff;
--color-yellow-400: #ffd175ff;
--color-yellow-500: #ffc24aff;
--color-yellow-600: #f4b004ff;
--color-yellow-700: #db9a19ff;
--color-yellow-800: #b0730aff;
--color-yellow-900: #885805ff;
--color-yellow-950: #61430fff;
--color-yellow-1000: #422f0dff;
--color-green-50: #effaf6ff;
--color-olive-50: #f3faefff;
--color-olive-100: #e8f6e0ff;
--color-olive-200: #c6e8bdff;
--color-olive-300: #b0d7a0ff;
--color-olive-400: #93c979ff;
--color-olive-500: #75ba60ff;
--color-olive-600: #6aac58ff;
--color-olive-700: #61974cff;
--color-olive-800: #48773bff;
--color-olive-900: #36572aff;
--color-olive-950: #2e4423ff;
--color-green-100: #e0f6ecff;
--color-olive-1000: #273322ff;
--color-green-200: #b8ead5ff;
--color-green-300: #8dddbcff;
--color-green-400: #5acd9dff;
--color-green-500: #36b37eff;
--color-green-600: #31a172ff;
--color-green-700: #2b8d64ff;
--color-green-800: #237653ff;
--color-green-900: #1a563dff;
--color-green-950: #164833ff;
--color-teal-50: #f9fbfbff;
--color-teal-100: #eff6f5ff;
--color-teal-200: #dfececff;
--color-teal-300: #cfe3e2ff;
--color-teal-400: #b0d2d0ff;
--color-teal-500: #78c0beff;
--color-teal-600: #5dafacff;
--color-teal-700: #3e8d8eff;
--color-teal-800: #2d5254ff;
--color-teal-900: #233738ff;
--color-teal-950: #122a2bff;
--color-teal-1000: #0b2526ff;
--color-cyan-50: #ebfcffff;
--color-cyan-100: #d3f8ffff;
--color-cyan-200: #adeef9ff;
--color-cyan-300: #69def3ff;
--color-cyan-400: #3fbfd6ff;
--color-cyan-500: #1cbbd8ff;
--color-cyan-600: #07a8c4ff;
--color-cyan-700: #008fa8ff;
--color-cyan-800: #006d81ff;
--color-cyan-900: #244c55ff;
--color-cyan-950: #213a40ff;
--color-cyan-1000: #002b35ff;
--color-blue-50: #f0f6ffff;
--color-cobalt-50: #f8fafcff;
--color-cobalt-100: #f1f4f9ff;
--color-cobalt-200: #dfe7f1ff;
--color-cobalt-300: #d0dcebff;
--color-cobalt-400: #bfcfe4ff;
--color-cobalt-500: #aabfdbff;
--color-cobalt-600: #94aed1ff;
--color-cobalt-700: #7799c5ff;
--color-cobalt-800: #5376a3ff;
--color-cobalt-900: #385985ff;
--color-cobalt-950: #2e4461ff;
--color-cobalt-1000: #223247ff;
--color-blue-100: #d1e9ffff;
--color-blue-200: #b2ddffff;
--color-blue-300: #84caffff;
--color-blue-400: #53b1fdff;
--color-blue-500: #3f99faff;
--color-blue-600: #297befff;
--color-blue-700: #2867d3ff;
--color-blue-800: #2856afff;
--color-blue-900: #204178ff;
--color-blue-950: #213b69ff;
--color-blue-1000: #182a47ff;
--color-purple-50: #f5f4fbff;
--color-fuchsia-50: #faf6fcff;
--color-fuchsia-100: #f0e4f6ff;
--color-fuchsia-200: #dbc4e6ff;
--color-fuchsia-300: #ccaadbff;
--color-fuchsia-400: #bc85d5ff;
--color-fuchsia-500: #a265bfff;
--color-fuchsia-600: #9f54c2ff;
--color-fuchsia-700: #8f43b3ff;
--color-fuchsia-800: #692d85ff;
--color-fuchsia-900: #4e2e63ff;
--color-fuchsia-950: #3c264aff;
--color-fuchsia-1000: #291b33ff;
--color-purple-100: #ebe9f7ff;
--color-purple-200: #d3cfedff;
--color-purple-300: #b8b1e2ff;
--color-purple-400: #998ddeff;
--color-purple-500: #8375ceff;
--color-purple-600: #6d5ec4ff;
--color-purple-700: #6152b2ff;
--color-purple-800: #5243a1ff;
--color-purple-900: #382f69ff;
--color-purple-950: #2c294aff;
--color-purple-1000: #1a1538ff;
--space-0: 0px;
--space-025: 1px;
--space-050: 2px;
--space-100: 4px;
--space-150: 6px;
--space-200: 8px;
--space-300: 12px;
--space-350: 14px;
--space-400: 16px;
--space-500: 20px;
--space-600: 24px;
--space-800: 32px;
--space-1000: 40px;
--space-1100: 44px;
--space-1200: 48px;
--space-1300: 52px;
--space-1400: 56px;
--space-1500: 64px;
--space-2000: 80px;
--space-2400: 96px;
--space-infinite: 9999px;
--space-negative-050: -2px;
--space-negative-100: -4px;
--space-negative-150: -6px;
--space-negative-200: -8px;
--space-negative-300: -12px;
--space-negative-400: -16px;
--color-green-1000: #1e382eff;
/* End - _Primitives/Value*/
/* Start - _Typography Primitives/Value*/
--font-family-sfprodisplay: SF Pro Display;
--font-family-sfprotext: SF Pro Text;
--font-family-inter: Inter;
--font-weight-regular: 400px;
--font-weight-medium: 500px;
--font-weight-semibold: 600px;
--font-weight-bold: 700px;
--font-size-300: 12px;
--font-size-350: 14px;
--font-size-400: 16px;
--font-size-450: 18px;
--font-size-500: 20px;
--font-size-600: 24px;
--font-size-700: 28px;
--font-size-800: 32px;
--font-size-900: 36px;
--font-size-1100: 44px;
--font-size-1400: 56px;
--letter-spacing-tight-xl: -0.7200000286102295px;
--letter-spacing-tight-lg: -0.3199999928474426px;
--letter-spacing-tight-md: -0.2800000011920929px;
--letter-spacing-tight-sm: -0.23999999463558197px;
--letter-spacing-normal: 0px;
--letter-spacing-wide-md: 0.2800000011920929px;
--line-height-400: 16px;
--line-height-500: 20px;
--line-height-600: 24px;
--line-height-700: 28px;
--line-height-800: 32px;
--line-height-900: 36px;
--line-height-1000: 40px;
--line-height-1100: 44px;
--line-height-1300: 52px;
--line-height-1600: 64px;
/* End - _Typography Primitives/Value*/
/* Start - Semantic sizes/Mode 1*/
--spacing-0: var(--space-0);
--spacing-050: var(--space-050);
--border-radius-0: var(--space-0);
--border-radius-100: var(--space-100);
--border-radius-150: var(--space-150);
--border-radius-200: var(--space-200);
--border-radius-300: var(--space-300);
--border-radius-400: var(--space-400);
--border-radius-500: var(--space-500);
--border-radius-600: var(--space-600);
--spacing-100: var(--space-100);
--spacing-150: var(--space-150);
--spacing-200: var(--space-200);
--spacing-300: var(--space-300);
--spacing-400: var(--space-400);
--spacing-500: var(--space-500);
--spacing-600: var(--space-600);
--spacing-800: var(--space-800);
--spacing-1000: var(--space-1000);
--border-radius-800: var(--space-800);
--border-radius-1500: var(--space-1500);
--border-radius-full-round: var(--space-infinite);
--border-width-0: var(--space-0);
--border-width-s: var(--space-025);
--border-width-m: var(--space-050);
--border-width-l: var(--space-100);
--spacing-negative-050: var(--space-negative-050);
--spacing-negative-100: var(--space-negative-100);
--spacing-negative-150: var(--space-negative-150);
--spacing-negative-200: var(--space-negative-200);
--spacing-negative-300: var(--space-negative-300);
--spacing-negative-400: var(--space-negative-400);
/* End - Semantic sizes/Mode 1*/
/* Start - Typography Web/Desktop*/
--typography-web-display-font-weight: var(--font-weight-semibold);
--typography-web-display-l-font-size: var(--font-size-1400);
--typography-web-display-l-line-height: var(--line-height-1600);
--typography-web-display-l-letter-spacing: var(--letter-spacing-normal);
--typography-web-display-m-font-size: var(--font-size-1100);
--typography-web-display-m-line-height: var(--line-height-1300);
--typography-web-display-m-letter-spacing: var(--letter-spacing-normal);
--typography-web-display-s-font-size: var(--font-size-900);
--typography-web-display-s-line-height: var(--line-height-1100);
--typography-web-display-s-letter-spacing: var(--letter-spacing-normal);
--typography-web-headline-font-weight: var(--font-weight-semibold);
--typography-web-headline-l-font-size: var(--font-size-900);
--typography-web-headline-l-line-height: var(--line-height-1100);
--typography-web-headline-l-letter-spacing: var(--letter-spacing-normal);
--typography-web-font-family: var(--font-family-inter);
--typography-web-headline-m-font-size: var(--font-size-800);
--typography-web-headline-m-line-height: var(--line-height-1000);
--typography-web-headline-m-letter-spacing: var(--letter-spacing-normal);
--typography-web-headline-s-font-size: var(--font-size-700);
--typography-web-headline-s-line-height: var(--line-height-900);
--typography-web-headline-s-letter-spacing: var(--letter-spacing-normal);
--typography-web-title-font-weight: var(--font-weight-semibold);
--typography-web-title-xl-font-size: var(--font-size-600);
--typography-web-title-xl-line-height: var(--line-height-800);
--typography-web-title-xl-letter-spacing: var(--letter-spacing-normal);
--typography-web-title-l-font-size: var(--font-size-500);
--typography-web-title-m-font-size: var(--font-size-400);
--typography-web-title-m-line-height: var(--line-height-600);
--typography-web-title-l-line-height: var(--line-height-700);
--typography-web-title-s-font-size: var(--font-size-350);
--typography-web-title-s-line-height: var(--line-height-500);
--typography-web-title-s-letter-spacing: var(--letter-spacing-normal);
--typography-web-body-font-weight: var(--font-weight-regular);
--typography-web-body-l-font-size: var(--font-size-450);
--typography-web-body-l-line-height: var(--line-height-700);
--typography-web-body-l-letter-spacing: var(--letter-spacing-normal);
--typography-web-body-l-letter-spacing-mono: var(--letter-spacing-tight-lg);
--typography-web-body-m-font-size: var(--font-size-400);
--typography-web-body-m-line-height: var(--line-height-600);
--typography-web-body-m-letter-spacing: var(--letter-spacing-normal);
--typography-web-body-m-letter-spacing-mono: var(--letter-spacing-tight-md);
--typography-web-body-s-font-size: var(--font-size-350);
--typography-web-body-s-line-height: var(--line-height-500);
--typography-web-body-s-letter-spacing: var(--letter-spacing-normal);
--typography-web-body-s-letter-spacing-mono: var(--letter-spacing-tight-sm);
--typography-web-label-font-weight: var(--font-weight-medium);
--typography-web-label-l-font-size: var(--font-size-450);
--typography-web-label-l-line-height: var(--line-height-700);
--typography-web-label-l-letter-spacing: var(--letter-spacing-normal);
--typography-web-label-l-letter-spacing-mono: var(--letter-spacing-tight-lg);
--typography-web-label-m-font-size: var(--font-size-400);
--typography-web-label-m-line-height: var(--line-height-600);
--typography-web-label-m-letter-spacing: var(--letter-spacing-normal);
--typography-web-label-m-letter-spacing-mono: var(--letter-spacing-tight-md);
--typography-web-label-s-font-size: var(--font-size-350);
--typography-web-label-s-line-height: var(--line-height-500);
--typography-web-label-s-letter-spacing: var(--letter-spacing-normal);
--typography-web-label-s-letter-spacing-mono: var(--letter-spacing-tight-sm);
--typography-web-title-l-letter-spacing: var(--letter-spacing-normal);
--typography-web-title-m-letter-spacing: var(--letter-spacing-normal);
--typography-web-body-xs-font-size: var(--font-size-300);
--typography-web-body-xs-line-height: var(--line-height-400);
--typography-web-body-xs-letter-spacing: var(--letter-spacing-normal);
--typography-web-label-xs-font-size: var(--font-size-300);
--typography-web-body-xs-letter-spacing-mono: var(--letter-spacing-normal);
--typography-web-label-xs-line-height: var(--line-height-400);
--typography-web-label-xs-letter-spacing: var(--letter-spacing-normal);
--typography-web-label-xs-letter-spacing-mono: var(--letter-spacing-normal);
/* End - Typography Web/Desktop*/
}